<%= simple_form_for([@room, Message.new], data: {
    action: "turbo:submit-end->messages#resetForm",
    messages_target: "input_form"
  }) do |f| %>
  <div class="form-group">
    <%= f.input :body, label: false,
        input_html: { placeholder: "Type a message" },
        wrapper_html: { class: "form-control" },
        class: "form-control"
    %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>
