<div id="<%= dom_id room %>" data-controller="messages">
  <%= turbo_stream_from dom_id(room) %>
  <h1><%= room.name %></h1>
  <div id="messages" data-messages-target="container">
    <% @messages&.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <%= render 'messages/form', room: room %>
</div>
