@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

#messages {
  // create chatroom messages container with scroll
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #282a36;
  color: #50fa7b;
}
