<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to "Home", root_path, class: "navbar-brand font-semibold text-xl tracking-tight" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <span class="nav-link">Hello there <%= current_user ? current_user.email : "friend" %></span>
      </li>
    </ul>
  </div>
</nav>
